#name, #vorname, #email, #nachricht{
    width: 100%; min-width: 100%; max-width: 100%;
    box-sizing: border-box;
    padding: 4px;
    outline: none;
    resize: none;
}

#submit{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 300;
    color: black;
    border: none;
    background-color: #CCC;
    border-radius: 4px;
}

#Mail{
    padding-left: 30%;
    padding-right: 30%;
}