main {
    position: relative;
    top: 6rem;
    bottom: 20rem;
    padding: 0.5rem 8%;
    font-size: 20px;
}

p, li, h1, h2, a, ol, ul, b, label, .submit{
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
}

h1, h2, .dropdown-button a, .footer-infos p a b{
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
}

@font-face {
    font-family: Source Sans Pro, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Source Sans Pro, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');
    font-style: normal;
    font-weight: 600;
}

::selection {
    background-color:  #d4f2f6;
    color: black;
}
/* und hiermit der Firefox >=1 */
::-moz-selection {
    background-color: #d4f2f6;
    color: black;
}





/* CSS code für index Seite */
html {
    scroll-behavior: smooth;
}

h1 {
    position: relative;
}

h1 span {
    /* position:absolute; top:-6.8rem; */
    position: absolute;
    top: calc(0.15 * 100vh * -1);
}

h2 {
    position: relative;
}

h2 span {
    /* position:absolute; top:-6.8rem; */
    position: absolute;
    top: calc(0.15 * 100vh * -1);
}

@media (max-width: 750px) {
    h1 span {
        position: absolute;
        top: calc(0.14 * 100vh * -1);
    }

    h2 span {
        position: absolute;
        top: calc(0.14 * 100vh * -1);
    }
}


.button-top {
    left: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 1rem;
    position: fixed;
}

.to-top {
    background-color: white;
    text-align: center;
    font-family: Calibri, arial, sans-serif;
    color: black;
    padding-top: 1.8em;
    display: none;
    position: relative;
    border-color: black;
    text-decoration: none;
    transition: all .3s ease-out;
}

@media (max-width: 750px) {
    .button-top{
        display: none;
    }
    
}

.to-top.active {
    display: inline-block;
}


.to-top:before {
    background-color: white;
    content: '▲';
    font-size: .9em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border: solid .13em black;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-color: inherit;
    transition: transform .5s ease-in;
}

.to-top:hover:before {
    transform: rotate(360deg);
}
.statistik-text1{
    grid-area: text1;
}
.statistik-text2{
    grid-area: text2;
}
.statistik-text3{
    grid-area: text3;
}
.statistik1{
    grid-area: bild1;
}
.statistik2{
    grid-area: bild2;
}
.statistik3{
    grid-area: bild3;
}
.statistik-linie1{
    grid-area: linie1;
}
.statistik-linie2{
    grid-area: linie2;
}
.statistik-linie1, .statistik-linie2{
    width: 100%;
    height: 0.1px;
    border: none;
    background-color: grey;
    margin: 0;
}

.statistiken{
    display: grid;
    grid-template-areas: 'text1 bild1' 'linie1 linie1' 'bild2 text2' 'linie2 linie2' 'text3 bild3';
    grid-gap: 2rem;
    padding: 0px;
}
@media (max-width: 1050px) {
    .statistiken{
        grid-template-areas: 'bild1' 'text1' 'bild2' 'text2' 'bild3' 'text3';
    }
    .statistiken img{
        width: 100%;
        height: auto;
    }
}

.grid-item{
    padding: 10px;
    border-bottom: 1px solid black;
}
.grid-item:last-child{
    border-bottom: none;
}

/* Code für gridlayout mit bildern */
.inhalt-bilder{
    height: 300px;
    width: auto;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.inhalt-texte{
    text-align: justify;
}





/* CSS code für Seite Ueber Uns */
.uberuns-content {
    position: relative;
    padding: 1rem;
    margin: 1rem;

    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, .2);
}

.uberuns-img {
    position: relative;
}

.uberuns-name {
    position: relative;
    font-size: 25px;
}

.uberuns-beschreibung {
    position: relative;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.uberuns-clash {
    position: relative;
}

.uberuns-insta {
    position: relative;
}

.uberuns-logos, .uberuns-title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.uberuns-bloecke {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'nimai nickf nickc';
}
.nimai{
    grid-area: nimai;
}
.nickf{
    grid-area: nickf;
}
.nickc{
    grid-area: nickc;
}


@media (max-width: 750px) {
    .uberuns-bloecke {
        grid-template-columns: 1fr;
        grid-template-areas: 'nimai' 'nickf' 'nickc';
    }
}


/* CSS code für Seite Quellen */
.quellen {
    padding-left: 1rem;
}

.quellen.ul {
    list-style: square inside;
}
.quellen-content ul li a{
    color: blue;
}


@media (max-width: 750px) {
    main {
        top: 7rem;
    }
}

.html.konami-code * {
    animation: animation-background 800ms linear;
    animation-iteration-count: infinite;
}

.html.konami-code {
    animation: spin-page 3s linear;
    animation-iteration-count: infinite;
}

.html.autismus * {
    animation: animation-background 100ms linear, spin-page 500ms linear;
    animation-iteration-count: infinite;
}

@keyframes spin-page {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes animation-background {
    100%, 0% {
        background-color: rgb(255, 0, 0);
    }
    8% {
        background-color: rgb(255, 127, 0);
    }
    16% {
        background-color: rgb(255, 255, 0);
    }
    25% {
        background-color: rgb(127, 255, 0);
    }
    33% {
        background-color: rgb(0, 255, 0);
    }
    41% {
        background-color: rgb(0, 255, 127);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    58% {
        background-color: rgb(0, 127, 255);
    }
    66% {
        background-color: rgb(0, 0, 255);
    }
    75% {
        background-color: rgb(127, 0, 255);
    }
    83% {
        background-color: rgb(255, 0, 255);
    }
    91% {
        background-color: rgb(255, 0, 127);
    }
}